/* Базовые стили */
* {
    box-sizing: border-box; /* padding и border не увеличивают размер элемента */
}

html, body {
    height: 100%; /* Устанавливает высоту html и body на 100% */
    margin: 0; /* Убирает отступы вокруг body */
    font-size: 16px; /* Базовый размер шрифта */
    font-family: 'Inter', sans-serif;
    background-color: #ffffff; /* Устанавливает белый фон для всего сайта */
}

/* Типографика */
h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    letter-spacing: -2px;
    color: #121212;
    padding-right: 32px;
    line-height: 100%;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 100%;
    letter-spacing: -1px;
    color: #121212;
    padding-bottom: 32px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 100%;
    letter-spacing: -1px;
    color: #121212;
    padding-bottom: 32px;
}

p1 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #919191;
    line-height: 135%; 
    letter-spacing: -0.8px;
}

p2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #919191; 
    line-height: 145%;
    letter-spacing: -0.6px;
    width: 100%;
}

p3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #919191; 
    line-height: 145%;
    letter-spacing: -0.6px;
    width: 100%;
}

p4 {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #919191; 
    line-height: 145%;
    letter-spacing: -0.6px;
    width: 100%;
}

/* Хедер */
header {
    display: flex; /* Использует flexbox для расположения элементов в строку */
    justify-content: space-between; /* Распределяет пространство между элементами (логотип и навигация) */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    padding: 10px 40px; /* Устанавливает внутренние отступы (сверху/снизу и слева/справа) */
    background-color: transparent; /* Устанавливает прозрачный фон для заголовка */
    border-bottom: 1px solid #121212; /* Добавляет подчеркивание снизу хедера */
    height: 70px;
}

.logo {
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    position: relative; /* Устанавливаем относительное позиционирование для логотипа */
    color: #121212; /* Устанавливаем цвет текста для логотипа */
    padding-top: 6px;
}

/*.logo::after {
    content: ""; 
    display: block; 
    width: 32px; 
    height: 1px; 
    background-color: #121212; 
    position: absolute; 
    right: -44px; 
    top: 50%; 
    transform: translateY(-50%); 
    transition: width 0.3s ease, left 0.3s ease; 
}*/

nav {
    display: flex; /* Использует flexbox для расположения пунктов меню в строку */
    gap: 20px; /* Устанавливает отступ между пунктами меню */
    margin-left: auto; /* Прижимает навигацию вправо */
}

.menu-item {
    position: relative; /* Устанавливаем относительное позиционирование для псевдоэлемента */
    text-decoration: none; /* Убирает подчеркивание у ссылок в меню */
    color: #121212; /* Устанавливает цвет текста для пунктов меню */
    font-weight: 400; /* Базовая жирность */
    transition: font-weight 0.1s ease; /* Добавляем плавный переход */
}

.menu-item::before {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background-color: #121212;
    position: absolute;
    left: -44px;
    top: 50%;
    transform: translateY(-50%);
    transition: width 0.3s ease, left 0.3s ease; /* Добавляем анимацию для left */
}

.menu-item:hover::before {
    width: 48px; /* Увеличиваем ширину в 1.5 раза */
    left: -60px; /* Сдвигаем влево: -44px - (48px - 32px) = -60px */
}

.menu-item:hover {
    font-weight: 500; /* Увеличиваем жирность на 100 при наведении */
}

/* Информационная панель */
.container {
    display: flex;
    height: calc(100vh - 70px); /* Высота контейнера на 100% минус высота хедера */
    transition: opacity 0.3s ease;
    overflow: hidden; /* Скрываем переполнение */
}

.info-contacts {
    display: flex; /* Использует flexbox для расположения элементов в строку */
    flex-direction: column; /* Устанавливает вертикальное направление для элементов */
    height: calc(100vh - 70px); /* Устанавливаем высоту на 100% минус высота хедера */
    padding: 30px 40px;
    background-color: #ffffff; /* Цвет фона для меню (можно изменить) */
    border-right: 1px solid #121212; /* Добавляет подчеркивание снизу хедера */
    width: 20%;
    overflow-y: auto; /* Добавляем прокрутку по вертикали */
}

.info {
    display: flex; /* Использует flexbox для расположения элементов в строку */
    flex-direction: column; /* Устанавливает вертикальное направление для элементов */
    height: 100%; /* Устанавливает высоту на 100% родительского элемента */
}

.category {
    font-size: 10px;
    font-weight: 400;
    line-height: 100%; /* Применяем стиль p4 */
    color: #000000;
    padding-bottom: 4px;
}

.contacts {
    display: flex; /* Использует flexbox для расположения элементов в строку */
    flex-direction: column; /* Устанавливает вертикальное направление для элементов */
}

.info-websites, .info-presentations {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.info-websites a, .info-presentations a {
    display: flex;
    width: auto; /* Устанавливаем ширину автоматически */  
    padding-left: 16px;
    color: #919191; 
    text-decoration: none; /* Убирает подчеркивание у ссылок в меню */
    font-size: 14px;
    font-weight: 400;
    line-height: 145%; /* Применяем стиль p4 */
    line-height: 120%;
}

.site-item.active, .presentation-item.active {
    font-weight: 500; /* Делаем текст полужирным для активного элемента */
    color: #000000; /* Меняем цвет текста */
    position: relative; /* Для добавления дополнительных эффектов */
}

.site-item.active::before, .presentation-item.active::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 1px;
    background-color: #000000;
}

.social-media {
    display: grid; /* Располагаем кнопки в строку */
    gap: 4px; /* Отступ между кнопками */
}

.social-media-item {
    display: flex; /* Используем flexbox для выравнивания иконки и текста */
    align-items: center; /* Выравниваем по центру по вертикали */
    background-color: transparent; /* Прозрачный фон */
    border: 1px solid #919191; /* Цвет рамки */
    color: #919191; /* Цвет текста */
    padding: 4px 8px; /* Отступы внутри кнопки */
    border-radius: 30px; /* Закругленные углы */
    font-size: 14px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: all 0.3s ease; /* Плавный переход для эффектов */
    text-decoration: none; /* Убирает подчеркивание у ссылок в меню */
}

.social-media-item:hover {
    background-color: #000000; /* Цвет фона при наведении */
    color: #ffffff; /* Цвет текста при наведении */
    border: 1px solid #000000; /* Цвет рамки при наведении */
}

.cases-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%; /* Устанавливаем высоту на 100% родительского элемента */
    overflow-y: auto; /* Добавляем прокрутку по вертикали */
}

/* Галерея и описание кейсов */
.gallery-description-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 69px); /* Высота каждого кейса равна высоте экрана минус высота хедера */
    min-height: calc(100vh - 69px); /* Минимальная высота равна высоте экрана минус высота хедера */
    overflow: hidden; /* Убираем внутреннюю прокрутку кейса */ 
    border-bottom: 1px solid #121212;
}

.gallery {
    height: 85%; /* Уменьшаем высоту галереи */
    padding: 0px;
    display: flex;
    justify-content: center;
    position: relative; /* Добавляем для позиционирования кнопки */
}
#icl-services .gallery {
    border-top: none; /* Убираем верхнюю границу только у кейса ICL */
}



.gallery img {
    width: 100%; /* Устанавливает ширину изображения на 100% родительского элемента */
    height: 100%; /* Устанавливает высоту изображения на 100% родительского элемента */
    object-fit: cover; /* Изображение будет обрезано, чтобы заполнить контейнер */
}

.description {
    position: relative; /* Устанавливаем относительное позиционирование для родительского элемента */
    overflow: hidden; /* Скрываем переполнение */
    flex: 1; /* Меньше пространства для описания */
    padding: 30px 30px 30px 30px; /* верх правый низ левый (нижний padding = 0) */
    background-color: #ffffff; /* Исходный фон */
    border-top: 1px solid #121212;
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход для фона и цвета текста */
    z-index: 1; /* Устанавливаем z-index выше псевдоэлемента */
}

.description::before {
    content: ""; /* Создаем пустой псевдоэлемент */
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Начинаем с верхней части */
    left: 0; /* Начинаем с левой части */
    right: 0; /* Заполняем до правой части */
    bottom: 100%; /* Изначально скрыт (внизу) */
    background-color: #000000; /* Черный фон */
    transition: bottom 0.3s ease; /* Плавный переход для анимации */
    z-index: 0; /* Устанавливаем z-index ниже текста */
}

.description:hover::before {
    bottom: 0; /* При наведении перемещаем псевдоэлемент вниз, чтобы он заполнил весь элемент */
}

.description:hover h1,
.description:hover p2,
.description:hover .button-description {
    color: #ffffff; /* Белый текст при наведении */
    position: relative;
    z-index: 2;
}

.description:hover .button-description {
    border-color: #ffffff;
}


.button-description {
    background-color: #ffffff00;
    color: #919191;
    padding: 8px 16px;
    border: 1px solid #919191;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}


/* Обновляем стили для заголовка в описании */
.description-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}


/* Обновляем стили для описания кейса */
.case-description {
    padding: 40px 30px 0 30px; /* верх правый низ левый */
}

/* Вспомогательные классы */
.hidden {
    display: none; /* Скрывает элемент */
}


/* About Me секция */
.about-me-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #ffffff;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    z-index: 1001; /* Увеличиваем z-index, чтобы был выше всех (текущий максимальный z-index в проекте 1000) */
}

.about-me-container.visible {
    transform: translateY(0); /* Конечное положение - полностью виден */
}

.about-me-content {
    padding: 40px;
    height: 100%;
    overflow-y: auto;
    margin: 0 auto; /* Центрируем контент */
}

@media (max-width: 768px) {
    .info-contacts {
        display: none; /* Скрываем блок информации */
    }
    .case-detail-container {
        width: 100%; /* Устанавливаем ширину на 100% */
        left: 0; /* Убираем отступ слева */
    }
    h1 {
        font-size: 24px; /* Уменьшаем размер заголовка h1 в 2 раза */  
        letter-spacing: -0.4px;
        line-height: 100%;
        padding-right: 16px;
    }
    h2 {
        font-size: 16px; /* Уменьшаем размер заголовка h2 в 2 раза */
        letter-spacing: -0.3px;
        line-height: 100%;
    }
    h3 {
        font-size: 12px; /* Уменьшаем размер заголовка h3 в 2 раза */
    }
    p18 {
        font-size: 12px; /* Уменьшаем размер текста p18 в 2 раза */
        letter-spacing: -0.2px;
        line-height: 110%;
    }
    p16 {
        font-size: 7px; /* Уменьшаем размер текста p16 в 2 раза */
    }
    .description {
        padding: 20px; /* Уменьшаем отступы для описания */
    }
    header {
        padding: 10px 20px; /* Устанавливаем отступы: сверху и снизу 10px, по бокам 20px */
    }
}

/* Стили для планшетов (максимальная ширина 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .info-contacts {
        display: none; /* Скрываем блок информации */
    }
    h1 {
        font-size: 27px; /* Уменьшаем размер заголовка h1 в 1.5 раза */
    }
    h2 {
        font-size: 16px; /* Уменьшаем размер заголовка h2 в 1.5 раза */
    }
    h3 {
        font-size: 12px; /* Уменьшаем размер заголовка h3 в 1.5 раза */
    }
    p18 {
        font-size: 12px; /* Уменьшаем размер текста p18 в 1.5 раза */
    }
    p16 {
        font-size: 9px; /* Уменьшаем размер текста p16 в 1.5 раза */
    }
    .button-description {
        font-size: 10px; /* Уменьшаем размер кнопки в 1.5 раза */
        padding: 6px 12px; /* Уменьшаем отступы кнопки в 1.5 раза */
    }
}

